*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}



.header{
    /* width: 100vw; */
    flex: 1;
    /* height: 10vh; */
    background-color: lightgrey;
    margin-bottom: 10px;
}

.box1{
    display: flex;
    flex: 8;

    /* background-color: green; */
}

.footer{
    flex: 1;
    margin-top: 10px;
    height: 10vh;
    background-color: lightgrey;
}

.inner{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.c{
    /* flex: 1; */
    background-color: yellow;
    width: 400px;
}

.a{
    height: 100%;
    background-color: red;
}

.b{
    height: 100%;
    background-color:orange;
}

@media  (max-width : 475px) {
    .box1{
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    .c{
        height: 33%;
        width: 100%;
    }
    .inner{
        height: 67%;
    }
    .a, .b{
        height: 100%;
    }
}