*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.header, .footer{
    flex: 1;
    background-color: lightgrey;
}

.mid{
    width: 100%;
    flex: 8;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.b{
    width: 30%;
    background-color: green;
}

.a{
    width: 70%;
    background-color: yellowgreen;
}

.c{
    width: 20%;
    background-color: rgba(223, 223, 10, 0.819);
}


@media (max-width: 768px){
    .a{
        width: 100%;
        height: 100%;
    }
    .b{
        height: 66.5%;
        width: 50%;
    }
    .inner{
        width: 100vw;
        height: 60%;
        flex-direction: row;
        flex-wrap: wrap;

    }
    .mid{
        flex-direction: column;
        align-items: end;

    }
    .c{
        width: 50%;
        height: 40%;
        
    }
}


@media (max-width: 475px){
    .inner{
        height:  100%;
    }
    .b{
        height: 30%;
        width: 100%;
    }
    .a{
        height: 70%;
        width: 100%;
    }
    .c{
        width: 100%;
        height: 20%;
    }
}